.tim-row {
    margin-bottom: 20px
}

.tim-white-buttons {
    background-color: #777
}

.typography-line {
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%
}

.typography-line span {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none
}

.tim-row {
    padding-top: 60px
}

.tim-row h3 {
    margin-top: 0
}

.card #chartPreferences {
    width: 60%;
    margin: 0 auto
}

#navbar-full .navbar {
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2
}

#map {
    position: relative;
    width: 100%;
    height: 100vh
}

.places-buttons .btn {
    margin-bottom: 30px
}

.map-container {
    width: 100%;
    height: 100vh;
    max-height: 100vh
}

#menu-dropdown .navbar {
    border-radius: 3px
}

#pagination-row .pagination-container {
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center
}

.all-icons .font-icon-detail {
    text-align: center;
    padding: 45px 0 30px;
    border: 1px solid #e5e5e5;
    border-radius: .1875rem;
    margin: 15px 0;
    min-height: 168px
}

.all-icons [class*=now-ui-icons] {
    font-size: 32px
}

.all-icons .font-icon-detail p {
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #b8b8b8;
    padding: 0 10px;
    font-size: .7142em
}

#icons-row i.now-ui-icons {
    font-size: 30px
}

.space {
    height: 130px;
    display: block
}

.space-110 {
    height: 110px;
    display: block
}

.space-50 {
    height: 50px;
    display: block
}

.space-70 {
    height: 70px;
    display: block
}

.navigation-example .img-src {
    background-attachment: scroll
}

.navigation-example {
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    min-height: 740px
}

#notifications {
    background-color: #fff;
    display: block;
    width: 100%;
    position: relative
}

.tim-note {
    text-transform: capitalize
}

#buttons .btn,
#javascriptComponents .btn {
    margin: 0 0 10px
}

.space-100 {
    height: 100px;
    display: block;
    width: 100%
}

.be-social {
    padding-bottom: 20px;
    margin: 0 auto 40px
}

.txt-white {
    color: #fff
}

.txt-gray {
    color: #ddd !important
}

.parallax {
    width: 100%;
    height: 570px;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333;
    width: 50px;
    float: left
}

.logo-container .brand {
    font-size: 16px;
    color: #fff;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left
}

.logo-container .brand-material {
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto
}

.logo-container .logo img {
    width: 100%
}

.navbar-small .logo-container .brand {
    color: #333
}

.fixed-section {
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
    position: sticky
}

.fixed-section ul {
    padding: 0
}

.fixed-section ul li {
    list-style: none
}

.fixed-section li a {
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666
}

.fixed-section li a.active {
    color: #0bf
}

.fixed-section.float {
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0
}

.parallax .parallax-image {
    width: 100%;
    overflow: hidden;
    position: absolute
}

.parallax .parallax-image img {
    width: 100%
}

@media(max-width:768px) {
    .parallax .parallax-image {
        width: 100%;
        height: 640px;
        overflow: hidden
    }

    .parallax .parallax-image img {
        height: 100%;
        width: auto
    }
}

.social-buttons-demo .btn {
    margin-right: 5px;
    margin-bottom: 7px
}

.img-container {
    width: 100%;
    overflow: hidden
}

.img-container img {
    width: 100%
}

.lightbox img {
    width: 100%
}

.lightbox .modal-content {
    overflow: hidden
}

.lightbox .modal-body {
    padding: 0
}

@media screen and (min-width:991px) {
    .lightbox .modal-dialog {
        width: 960px
    }
}

@media(max-width:991px) {
    .fixed-section.affix {
        position: relative;
        margin-bottom: 100px
    }
}

@media(max-width:768px) {

    .btn,
    .btn-morphing {
        margin-bottom: 10px
    }

    .parallax .motto {
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px
    }
}

.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

#images h4 {
    margin-bottom: 30px
}

#javascriptComponents {
    padding-bottom: 0
}

.layers-container {
    display: block;
    margin-top: 50px;
    position: relative
}

.layers-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    text-align: center
}

.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333
}

.navbar-transparent.navbar-small .logo-container .brand {
    color: #fff
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333
}

.sharing-area {
    margin-top: 80px
}

.sharing-area .btn {
    margin: 15px 4px 0
}

.section-thin,
.section-notifications {
    padding: 0
}

.section-navbars {
    padding-top: 0
}

#navbar .navbar {
    margin-bottom: 20px
}

#navbar .navbar-toggler,
#menu-dropdown .navbar-toggler {
    pointer-events: none
}

.section-tabs {
    background: #eee
}

.section-pagination {
    padding-bottom: 0
}

.section-download {
    padding-top: 130px
}

.section-download .description {
    margin-bottom: 60px
}

.section-download h4 {
    margin-bottom: 25px
}

.section-examples a {
    text-decoration: none
}

.section-examples a+a {
    margin-top: 30px
}

.section-examples h5 {
    margin-top: 30px
}

.components-page .wrapper>.header,
.tutorial-page .wrapper>.header {
    height: 500px;
    padding-top: 128px;
    background-size: cover;
    background-position: center center
}

.components-page .title,
.tutorial-page .title {
    color: #fff
}

.brand .h1-seo {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 300
}

.brand .n-logo {
    max-width: 100px;
    margin-bottom: 40px
}

.invision-logo {
    max-width: 70px;
    top: -2px;
    position: relative
}

.creative-tim-logo {
    max-width: 140px;
    top: -2px;
    position: relative
}

.section-javascript .title {
    margin-bottom: 0
}

.navbar .switch-background {
    display: block
}

.navbar-transparent .switch-background {
    display: none
}

.section-signup .col .btn {
    margin-top: 30px
}

#buttons-row .btn {
    margin-bottom: 10px
}

.section-navbars .navbar-collapse {
    display: none
}

.section-basic {
    padding-top: 0
}

.section-images {
    padding-bottom: 0
}

.modal2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modalUPSub{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6000;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.modal-contentUPSub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.modal-content3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 70%;
    border-radius: 0.5rem;
    /* max-height: 90vh; */
}

.mod__overflow{
    max-height: 70vh;
    overflow-y: scroll;   
}

.close-button2 {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button2:hover {
    background-color: darkgray;
}




.upload__box {
    padding: 40px;
}
.upload__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload__btn {
    color: #fff;
    display: flex;
    width: 135px;
    height: 40px;
}
.upload__btn:hover {
    opacity: .5;
    color: #4045ba;
    transition: all 0.3s ease;
}
.upload__btn-box {
    margin-bottom: 10px;
}
.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.upload__img-box {
    width: 135px;
    padding: 0 10px;
    margin-bottom: 12px;
    height: 120px;
}
.img-bg {
    height: 100px;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 10px;
}

.wid-it{
    min-height:200px !important;
    max-height:350px !important;
    /* -ms-overflow-style: none !important; */
    scrollbar-width: 5px !important;
    scrollbar-color: #FF0000 !important;
}

.wid-it::-webkit-scrollbar {
    width: 5px !important;
    background: transparent !important;
}
.wid-it::-webkit-scrollbar-thumb {
    background: #FF0000;
    border-radius: 100%;
}


.preload {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.img_pre_wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.img_now_wrap {
    width: 32%;
    padding: 0 10px;
    margin-bottom: 12px;
    height: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img_now_wrap:hover > .ctas {
    opacity: 1;
}

.img_gan_bg {
    width: 100%;
    height: auto;
    display: block;
}

#clairvoyance {
    display: none;
}



.ctas {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctas .a1 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    color: rgb(2, 254, 2);
    background: #4cd54277 !important;
}

.ctas .a2 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    color: yellow;
    background: #d5c44277 !important;
}

.ctas .a3 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    color: red;
    background: #d5424277 !important;
}

#containering {
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    padding: 0;
    margin: auto;
    overflow: hidden;
}

#imageing {
    position: relative;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#croppering {
    background-image: url('../img/cropper.png');
    background-size: 100% 100%;
    height: 400px;
    width: 400px;
    position: absolute;
    cursor: move;
}

#rangeing {
    margin: auto;
    width: 400px;
    display: block;
}

#outputing {
    margin: auto;
    width: 400px;
}

.button{
  
    font-size:1.5rem;
    border:2px solid white;
    border-radius:100px;
    width:50px;
    height:50px;
    background-color: rgba(90, 34, 34, 0.498);
    padding:5px;
    margin: auto;
    transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   
  }
  
  .icon{
   position: relative;
    top: 50%;
    transform: translateY(-50%);
   text-align:center;
    
  }
  
  .button:hover{
    width:125px;
    background-color: rgba(12, 12, 105, 0.455);
     box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    color: blue;
    transition:.3s;
  }
  
  .button:active{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    transition: .05s
  }
  
  

#clearing {
    display: none;
}

/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: .5em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
    max-width: 250px;
  }
}


.modaling {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-contenting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 600px;
    border-radius: 0.5rem;
}
.close-buttoning {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-buttoning:hover {
    background-color: darkgray;
}
.show-modaling {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}